html,body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
body{
    background-color:white !important;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    scroll-behavior: smooth;
    font-family: 'Quicksand', sans-serif;
}

h2 {
  text-align: center;
  margin-top: 50px;
  font-size: 28px;
  margin-bottom: 15px;
  color: firebrick;
}
input {
  width: 200px;
  padding: 1vh;
  margin: 0 10px;
  border: 2px solid #f6f6f6;
  border-radius: 5px
}

/* Classes */
.form {
  text-align: center;
  padding-bottom: 10px;
}
/* Classes */
.container {
  margin-top: 150px;
  text-align: center;
  position: relative;
  margin-left: 220px;
}
