body {
  background-color:
}
h1 {
  font-family: 'Quicksand', sans-serif;
}
.heading {
  margin-top: 50px;
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;
  background: firebrick;
  border-radius: 15px;
  border: 1px solid #eee;
}
.heading h1 {
  width: auto;
  color: white;
}
.back {
  display: sticky;
  font-family:
}
body {
  margin: 0;
  text-align: center;
}
h1 {
  font-style: sans-serif;
  width: 100%;
  text-align: center;
}
a {
  width: 100%;
  text-align: center;
}
input {
  outline: none;
  border: 1px solid #eee;
  width: 200px;
  padding: 8px 8px;

}
